@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*
  Fixes <pre> <code> layout breaking 
*/
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

html,
body {
  overflow-x: hidden;
}

html:not([data-theme-ready="true"]) *,
html:not([data-theme-ready="true"]) *::before,
html:not([data-theme-ready="true"]) *::after {
  transition: none !important;
}

.emoji-inline {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  margin: 0 0.05em;
}
